body {
    background-color: coral;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

p{
    color: white;
    /*font-size: 24px;*/
}
div h2{
    color:aqua
}

#parrafo-especial{
    font-size: 1,5em;
    font-weight: bold;
}

.parrafo{
    color:blue;
    font-style: italic;
}

a, img{
    display: block;
}

a{
    margin: 50px 20px;
    text-decoration: none;
    color:black;
}

a:hover{
    color:aqua; /*con esto pongo color al texto de a cuando paso el mouse*/
}

img{
    width: 70%;
    margin: auto; /*con esto dejamos imagen centrada y responsive (tiene que estar activado el display:block*/
}
